/* CSS Document */
body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,fieldset,legend,input,button{ margin:0; padding:0; -webkit-tap-highlight-color:rgba(255,255,255,0); }
html {  width: 100%; font-family: 'Heiti SC', 'Microsoft YaHei'; font-size: 100px; outline: 0; -webkit-text-size-adjust:none;}
body {  width:100%; margin: 0; -webkit-user-select: none; position: relative; background-color:#fff;}
a:hover,a:link,a:visited,a{ color:inherit; text-decoration:none;}
ul,li{list-style:none}
#center{ position:fixed; width:6.4rem; height:100%;; background:url(../imgs/back.png) no-repeat; background-size:cover;}
.logo{ position:absolute; top:1.13rem; right:2.6rem; display:block; width:1.19rem; height:0.93rem; background:url(../imgs/Logo.png) no-repeat; background-size:1.19rem 0.93rem;}
.wc{ position:absolute; top:2.68rem; right:0.55rem; display:block; width:5.21rem; height:0.63rem; background:url(../imgs/Welcome-wang.png) no-repeat; background-size:5.21rem 0.63rem;}
.head{ position:absolute; top:3.79rem; right:2.1rem; width:2.2rem; height:2.2rem; background-color:rgba(255,255,255,.1); border-radius:2.2rem;}
.head img{ margin:0.2rem; width:1.8rem; height:1.8rem;}
.lt{ position:absolute; bottom:0; width:6.4rem; height:2.7rem;}
.lt .dds{ position:relative; width:6.4rem; height:1.33rem; border-top:1px solid #fff; border-color:rgba(255,255,255,.1);}
.lt .dds p{ font-size:0.22rem; line-height:1.33rem; text-align:center; color:#fff;}
.lt .dds i{ position:absolute; bottom:0.45rem; right:0.39rem; display:block; width:0.23rem; height:0.42rem; background:url(../imgs/arr-right.png) no-repeat; background-size:0.23rem 0.43rem; }